<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">{{vm.title}}</h3>
		</div>
		<div class="current-jobs" ng-if="vm.jobs.length > 0">
			<table class="table table-bordered table-striped table-hovered table-condensed">
				<input type="text" placeholder="Search for a job.." class="form-control" style="width:300px; margin: 10px;" ng-model="query">
				<th ng-click="vm.filteredName = 'name'" style="cursor: pointer;">Name</th>
				<th ng-click="vm.filteredName = 'dynos'" style="cursor: pointer;">Dynos</th>
				<th ng-click="vm.filteredName = 'frequency'" style="cursor: pointer;">Frequency</th>
				<th ng-click="vm.filteredName = 'lastRun'" style="cursor: pointer;">Last Run</th>
				<th ng-click="vm.filteredName = 'scheduled'" style="cursor: pointer;">Scheduled</th>
				<th>Action</th>
				<tr ng-repeat="job in vm.jobs | filter:query | orderBy: vm.filteredName">
					<td ng-if="!editing">{{job.name}}</td>
					<td ng-if="!editing">{{job.dynos}}</td>
					<td ng-if="!editing">{{job.frequency}}</td>
					<td ng-if="!editing">{{job.lastRun | date}}</td>
					<td ng-if="!editing">{{job.scheduled | date}}</td>
					<td ng-show="editing">
					<input type="text" ng-model="job.name">
					</td>
					<td ng-show="editing">
					<input type="text" ng-model="job.dynos">
					</td>
					<td ng-show="editing">
					<input type="text" ng-model="job.frequency">
					</td>
					<td ng-show="editing">
						<input type="text" ng-model="job.lastRun">
					</td>
					<td ng-show="editing" >
					<input type="text" ng-model="job.scheduled" value="job.scheduled"/>
					</td>
					<td>
						<button ng-show="!editing" ng-click="editing=true" class="btn btn-warning">Edit</button>
						<button ng-click="vm.saveJob(job); editing= !editing"; ng-show="editing" class="btn btn-success" ng-click="editing =false">Save</button>
						<button ng-click="editing= !editing" ng-show="editing" class="btn btn-primary">Back</button>
						<button class="btn btn-danger" ng-click="vm.deleteJob(job)">Delete</button>
					</td>
				</tr>
			</table>
			<button class="btn btn-primary" ng-click="showJobs = !showJobs" ng-hide="showJobs">
			Add New Job
			</button>
		</div>
		<div class="job-form" ng-hide="!showJobs">
			<div class="form-group">
				<label for="name">Name</label>
				<input id="name" type="text" class="form-control" ng-model="vm.model.name" required>
			</div>
			<div class="form-group">
				<label for="dynos">Dynos</label>
				<input id="dynos" type="number" min=0 max=10 class="form-control" ng-model="vm.model.dynos" required> 
			</div>
			<div class="form-group">
				<label for="frequency">Frequency</label>
				<input id="frequency" type="text" class="form-control" ng-model="vm.model.frequency" required>
			</div>
			<div class="form-group">
				<label for="last-run">Last Run</label>
				<input id="last-run" type="date" class="form-control" ng-model="vm.model.lastRun" required>
			</div>
			<div class="form-group">
				<label for="scheduled">Scheduled</label>
				<input id="scheduled" type="date" class="form-control" ng-model="vm.model.scheduled" required>
			</div>
			<button ng-disabled="!vm.model.name || !vm.model.dynos || !vm.model.lastRun || !vm.model.frequency || !vm.model.scheduled"  class="btn btn-success btn-lg" ng-click="vm.addJob(vm.model); showJobs = !showJobs">Add Job</button>
			<button class="btn btn-danger btn-lg" ng-click="showJobs = !showJobs">Back</button>
		</div>
	</div>
</div>