<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">{{vm.title}}</h3>
		</div>
		<div class="current-jobs" ng-hide="vm.details === true;">
			<table class="table table-bordered table-striped table-hovered table-condensed" ng-if="vm.jobs.length > 0">
				<input type="text" ng-model="query" placeholder="Search for a job.." class="form-control" style="width:300px; margin: 10px;">
				<th>Name</th>
				<th>Dynos</th>
				<th>Frequency</th>
				<th>Last Run</th>
				<th>Scheduled</th>
				<th>Action</th>
				<tr ng-repeat="job in vm.jobs | filter:query" style="cursor: pointer;">
					<td ng-click="vm.jobDetail(job)"  ng-if="!editing" >{{job.name}}</td>
					<td ng-click="vm.jobDetail(job)"  ng-if="!editing">{{job.dynos}}</td>
					<td ng-click="vm.jobDetail(job)"  ng-if="!editing">{{job.frequency}}</td>
					<td ng-click="vm.jobDetail(job)"  ng-if="!editing">{{job.lastRun | date}}</td>
					<td ng-click="vm.jobDetail(job)"  ng-if="!editing">{{job.scheduled | date}}</td>
					<td ng-show="editing">
					<input type="text" ng-model="job.name">
					</td>
					<td ng-show="editing">
					<input type="text" ng-model="job.dynos">
					</td>
					<td ng-show="editing">
					<input type="text" ng-model="job.frequency">
					</td>
					<td ng-show="editing">
						<input type="text" ng-model="job.lastRun | date">
					</td>
					<td ng-show="editing" >
					<input type="text" ng-model="job.scheduled | date" value="job.scheduled | date"/>
					</td>
					<td>
						<button ng-show="!editing" ng-click="editing=true" class="btn btn-warning">Edit</button>
						<button ng-click="vm.saveJob(job); editing= !editing"; ng-show="editing" class="btn btn-success" ng-click="editing =false">Save</button>
						<button ng-click="editing= !editing" ng-show="editing" class="btn btn-primary">Back</button>
						<button class="btn btn-danger" ng-click="vm.deleteJob(job)">Delete</button>
					</td>
				</tr>
			</table>
			<button class="btn btn-primary" ng-click="showJobs = !showJobs" ng-hide="showJobs">
			Add New Job
			</button>
		</div>
		<div class="detail-view" ng-show="vm.details">
			
				<div class="jumbotron" style="margin: 50px;">
				<div class="close" style="font-size: 50px; cursor: pointer; color: red;" ng-click="vm.details = false;">X</div>
				<h3>You have selected Job #{{vm.selectedId}}</h3>
					<table class="table table-bordered table-striped table-hovered table-condensed">
						<th>Name</th>
						<th>Dynos</th>
						<th>Frequency</th>
						<th>Last Run</th>
						<th>Scheduled</th>
						<tr>
							<td>{{vm.selectedJob.name}}</td>
							<td>{{vm.selectedJob.dynos}}</td>
							<td>{{vm.selectedJob.frequency}}</td>
							<td>{{vm.selectedJob.lastRun | date}}</td>
							<td>{{vm.selectedJob.scheduled | date}}</td>
						</tr>
					</table>
				</div>
			</div>
		<div class="job-form" ng-hide="!showJobs">
			<div class="form-group">
				<label for="name">Name</label>
				<input id="name" type="text" class="form-control" ng-model="vm.model.name" required>
			</div>
			<div class="form-group">
				<label for="dynos">Dynos</label>
				<input id="dynos" type="number" min=0 max=10 class="form-control" ng-model="vm.model.dynos" required> 
			</div>
			<div class="form-group">
				<label for="frequency">Frequency</label>
				<input id="frequency" type="text" class="form-control" ng-model="vm.model.frequency" required>
			</div>
			<div class="form-group">
				<label for="last-run">Last Run</label>
				<input id="last-run" type="date" class="form-control" ng-model="vm.model.lastRun" required>
			</div>
			<div class="form-group">
				<label for="scheduled">Scheduled</label>
				<input id="scheduled" type="date" class="form-control" ng-model="vm.model.scheduled" required>
			</div>
			<button ng-disabled="!vm.model.name || !vm.model.dynos || !vm.model.lastRun || !vm.model.frequency || !vm.model.scheduled"  class="btn btn-success btn-lg" ng-click="vm.addJob(vm.model); showJobs = !showJobs">Add Job</button>
			<button class="btn btn-danger btn-lg" ng-click="showJobs = !showJobs">Back</button>
		</div>
	</div>
</div>